<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .fit-picture {
            width: 250px;
        }

        .text{
            width:250px;
        }
    </style>
</head>
<body>
    <div>
        <h1 th:text="${newsData.title}">title</h1>
<!--        <img class="fit-picture"-->
<!--             th:src="@{static/images/kongsoonpicture.jpg}"-->
<!--             alt="콩순이 이미지"> 일단은 이미지 보류, 나중에 이미지 업로드 기능을 만들자-->
    </div>
    <div class="text">
        <p cols="35px" rows="10px">우리집 콩순이는 아주 영리합니다. 공놀이를 좋아합니다. 아주아주</p>
    </div>
</body>
</html>